body {
  background-color: #333;
}
#header {
  font-family: 'Roboto', sans-serif;
  color: yellow;
}
#header p{
  color: white;
  font-size: 12px;
}
#header a {
  color: cyan;
}
#container {
  width: 824px;
  margin:5px;
}
#simulation {
  float: left;
  width: 600px;
  height: 400px;
  background-color: #bbb;
  border: 2px solid white;
  margin: 4px;
}
#sidebar {
  float: right;
  width: 200px;
  height: 400px;
  background-color: #bbb;
  border: 2px solid white;
  margin: 4px;
}
button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
button:hover {
  background-color: black;
  color: yellow;
}
#control {
  margin: 1px;
  text-align: center;
  /*border-style: solid;
  border-width: thin;*/
}
#control button {
  width: 50%;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
}
#info {
  clear: both;
  width: 812px;
  height: 400px;
  background-color: #bbb;
  border: 2px solid white;
  margin: 4px;
}
#footer {
  text-align: right;
  padding-right: 1em;
  font-size: 12px;
  color: white;
}
